<!-- <div class="container p-1">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        
      </div> -->
      <% if(locals.err_msg.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= err_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
     <% } %>
  
      <% if(locals.success_msg.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>

      <% if(locals.staff_status == "Inactive"){ %>
        <p>Howdy, <%= username %>, </p>
        <p>This is visible. Because you are NOT ACTIVE.</p>
        <div class="alert alert-danger" role="alert">
          <h4 class="text-center">You are an Non-teaching Faculty.</h4>
          <p class="text-center">But, Your account is not active.</p>
          <hr>
          <!-- <form id="activation-form" action="/activate-school/" method="POST">
            <div class="mt-3 mb-3">
              <label for="activation">Activation Code: </label>
              <input
                type="text"
                class="form-control"
                name="activation"
                id="activation"
                placeholder="Enter the Activation code."
              />
              <span class="error" id="activation_error"
                >It is not valid.</span
              >
            </div>
            <div class="mb-3">
              <button class="btn btn-secondary" type="submit" value="submit">
                Activate
              </button>
            </div>
          </form> -->
        </div>
      <% } else { %>
        <p>Howdy,  <%= username %>, </p>
        <%- include ('../partials/components/staff-sideMenu') %>

        <div class="p-5">
          <h3>Non-teaching Staff Dashboard.. Your account is ACTIVE.</h3>
          <p>Being a Non-teaching Staff you get access to the following:</p>
          <ul>
            <li>Manage your Profile</li>
            <li>See All Staff and Students Profiles.</li>
            <li>Collect Fee from Students/li>
            <li>Credit Salary to all Staff.</li>
            <li>Send Messages to All Staff and Students related to finance.</li>
            <li>See Financial Reports.</li>
          </ul>
        </div>               
        <% } %>
    </div>
  </div>
  