<!-- <div class="container p-1">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        
      </div> -->
      <% if(locals.err_msg.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= err_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
     <% } %>
  
      <% if(locals.success_msg.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>

      <% if(locals.staff_status == "Inactive"){ %>
        <div class=" m-5 p-5">
        <p>Howdy, <%= username %>, </p>
        <p>This is visible. Because you are NOT ACTIVE.</p>
        <div class="alert alert-danger" role="alert">
          <h4 class="text-center">You are a Teaching Faculty.</h4>
          <p class="text-center">The code is working fine.</p>
        </div>
          <hr>
          <!-- <form id="activation-form" action="/activate-school/" method="POST">
            <div class="mt-3 mb-3">
              <label for="activation">Activation Code: </label>
              <input
                type="text"
                class="form-control"
                name="activation"
                id="activation"
                placeholder="Enter the Activation code."
              />
              <span class="error" id="activation_error"
                >It is not valid.</span
              >
            </div>
            <div class="mb-3">
              <button class="btn btn-secondary" type="submit" value="submit">
                Activate
              </button>
            </div>
          </form> -->
        </div>
      <% } %>

      <% if(locals.staff_status == "Active"){ %>
        
        <%- include ('../partials/components/staff-sideMenu') %>

        <div class="mt-5 p-5">
          <p>Howdy,  <%= username %>, </p><hr />
          <h3>STAFF DASHBOARD.. Your account is ACTIVE.</h3>
          <p>Being a Teaching Faculty you get access to the following:</p>
          <ul>
            <li>Manage your Profile</li>
            <li>See the list of subjects handled by you. With the total no of students.</li>
            <li>View the Students Individual Profile.</li>
            <li>View class Schedules and make student attendance based on the schedule</li>
            <li>See Your Salary Details, Payslip etc.</li>
            <li>Send Messages to your students and receive from higher authorities.</li>
            <li>Assign Exams to the Students and record marks to the students</li>
            <li>View Performance Records of each students assigned to the staff.</li>
          </ul>
        </div>
        
        <% } %>
    </div>
  </div>
  