<!-- <div class="col-xl-12 col-lg-12 col-md-8 col-sm-10 p-5 m-3 justify-content-center"> -->
    <!-- <h2 class="text-center">School Master Dashboard</h2> -->
    <% if(locals.welcome_msg) { %>
        <div class="col-6 p-2">
          <h5><%= welcome_msg %></h5>
        </div>
    <% } %>
    <br>
    <% if(locals.err_msg.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= err_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
   <% } %>

    <% if(locals.success_msg.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>

    <!-- When Inactive -->
    <% if(locals.status == "Inactive") { %>
      <!-- Inactive Part -->
      <%- include ('../partials/components/school-inactive') %>
      <% } else { %>  
        <!-- active part -->
        <%- include ('../partials/components/school-sideMenu') %>
        <!-- This whole div will be removed from Dashboard -->
        <!-- Display Reports Here -->
      <div class="col-auto">
      <% if(locals.countNos) { %>
        <div class="row pt-4 m-1">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 p-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= locals.countNos[0].length %></h5><hr>
                <p class="card-text">Class Sections</p>
                <a href="/school/dashboard/sections" class="btn btn-primary">Know more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 p-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= locals.countNos[1].length %></h5><hr>
                <p class="card-text">Active Faculties</p>
                <a href="/school/dashboard/users" class="btn btn-primary">See Faculties</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 p-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= locals.countNos[2].length %></h5><hr>
                <p class="card-text">Inactive Faculties</p>
                <a href="/school/dashboard/users" class="btn btn-primary">See Faculties</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 p-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= locals.countNos[3].length %></h5><hr>
                <p class="card-text">Active Students</p>
                <a href="/school/dashboard/students" class="btn btn-primary">See Students</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 p-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= locals.countNos[4].length %></h5><hr>
                <p class="card-text">Inactive Students</p>
                <a href="/school/dashboard/students" class="btn btn-primary">See Students</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 p-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= locals.countNos[5].length %></h5><hr>
                <p class="card-text">Management Staff</p>
                <a href="/school/dashboard/users" class="btn btn-primary">See Staff</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 p-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= locals.countNos[6].length %></h5><hr>
                <p class="card-text">Subjects</p>
                <a href="/school/dashboard/subjects" class="btn btn-primary">See Subjects</a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
      <% } %>
      <!-- test -->
    <!-- </div> -->


    <!-- closing tags from school-sidebarMenu -->
    </div>
  </div>
</div>