<%- include ('../partials/components/school-sideMenu') %>


<div class="container pt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
          <% if(locals.err_msg.length > 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= err_msg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        <% } %>
        <% if(locals.success_msg.length > 0) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= success_msg %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      <% } %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex">
        <div class="col-lg-4 col-xl-4 col-sm-10">
            <div class="pt-5 p-2 sticky-top bg-light">
                <%- include ('../partials/components/add-user') %>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-sm-10 overflow-auto border">
          <div class="pt-5">
            <h4 class="text-center">View User Accounts</h4><br>
            <table class="table table-light text-center">
              <thead>
                <tr>
                <th scope="col">S.No</th>
                <th scope="col">Role</th>
                <th scope="col">Username</th>
                <th scope="col">Email ID</th>
                <th scope="col">Status</th>
                <th width="200px">Actions</th>
              </tr>
              </thead>
              <tbody>
                <% if(locals.data.length > 0) {                    
                  for(var i = 0; i < locals.data.length; i++) {%>
                    <tr>
                      <th scope="row"><%= (i+1) %></th>
                      <td><%= locals.data[i].role_id_fk %></td>
                      <td><%= locals.data[i].username %></td>
                      <td><%= locals.data[i].email %></td>
                      <td><%= locals.data[i].status %></td>
                      <td><a class="btn btn-warning edit" href="../dashboard/users/edit/<%= locals.data[i].id %>">Edit</a> <a class="btn btn-danger delete" href="../dashboard/users/delete/<%= locals.data[i].id %>">Delete</a></td>                                            
                    </tr>
              <%  }
                  } else { %>
                        <tr>
                          <td colspan="5" class="text-center">No User accounts added.</td>
                        </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
</div>

    <!-- closing tags from school-sidebarMenu -->
  </div>
</div>
</div>