<%- include ('../partials/components/school-sideMenu') %>


<div class="container pt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
          <% if(locals.err_msg.length > 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= err_msg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        <% } %>
        <% if(locals.success_msg.length > 0) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= success_msg %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      <% } %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex">
        <div class="col-lg-4 col-xl-4 col-sm-10">
            <div class="pt-5 p-2 sticky-top bg-light">
                <%- include ('../partials/components/create/add-student') %>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-sm-10 overflow-auto border">
          <%- include ('../partials/components/read/view-student') %>
      </div>
    </div>
</div>

    <!-- closing tags from school-sidebarMenu -->
  </div>
</div>
</div>