<div>
  <h4 class="text-center">My Attendance</h4>
  <br />
  <table class="table table-light text-center" id="datatable">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Date</th>
        <th scope="col">Period 1</th>
        <th scope="col">Period 2</th>
        <th scope="col">Period 3</th>
        <th scope="col">Period 4</th>
        <th scope="col">Period 5</th>
        <th scope="col">Period 6</th>
        <th scope="col">Period 7</th>
        <th scope="col">Period 8</th>
        <th scope="col">Period 9</th>
        <th scope="col">Period 10</th>
        <th scope="col">% Attendance</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.attendance.length > 0) { %>
        <% for (var i = 0; i < locals.attendance.length; i++) { %>
          <% var period_string = locals.attendance[i].period_no %>
          <% var period_array = period_string.split(",") %>
          <% var att_sta = locals.attendance[i].attend_status %>
          <% var att_sta_arr = att_sta.split(",") %>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td><%= att_sta_arr[0] %></td>
          <td><%= att_sta_arr[1] %></td>
          <td><%= att_sta_arr[2] %></td>
          <td><%= att_sta_arr[3] %></td>
          <td><%= att_sta_arr[4] %></td>
          <td><%= att_sta_arr[5] %></td>
          <td><%= att_sta_arr[6] %></td>
          <td><%= att_sta_arr[7] %></td>
          <td><%= att_sta_arr[8] %></td>
          <td><%= att_sta_arr[9] %></td>
          <td>Calculation Here</td>
      </tr>
      <% } } %>
      <% if (locals.attendance.length == 0) { %>
      <tr>
        <td colspan="13" class="text-center">No records found.</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- edit modal -->
<div
  class="modal fade"
  id="editFeeStructModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Class - Medium</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<!-- delete modal -->
<div
  class="modal fade"
  id="deleteFeeStructModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Deleting Class - Medium
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>



