<div class="pt-5">
  <h4 class="text-center">Student Promotion</h4>
  <br />
  <table class="table table-light text-center" id="datatable">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th width="150px">Student</th>
        <th width="200px">Batch</th>
        <th width="250px">Class & Section</th>
        <th width="100px">Fee Due</th>
        <th width="100px">Result</th>
        <th width="100px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.dueAndResult.length > 0) { for(var i = 0; i < locals.dueAndResult.length; i++) {%>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td><%= locals.dueAndResult[i].name %> (<%= locals.dueAndResult[i].student_id %>)</td>
        <td><%= locals.dueAndResult[i].batch_name %> (<%= locals.dueAndResult[i].year_from %>-<%= locals.dueAndResult[i].year_to %>)</td>
        <td><%= locals.dueAndResult[i].class_std %> STD - <%= locals.dueAndResult[i].medium %> Medium: <%= locals.dueAndResult[i].class_section %> Sec</td>
        <td><%= locals.dueAndResult[i].payment_status %></td>
        <td><% if(locals.dueAndResult[i].is_released == 'yes') { %>
          <%= locals.dueAndResult[i].subject_result %> 
        <% } else { %>
          None
        <% } %></td>
        <td>
          <button
            data-id="<%= locals.dueAndResult[i].section_id %>"
            type="button"
            class="promoteStudent btn btn-success View"
            data-bs-toggle="modal"
          >
          <i class="fa-solid fa-arrow-trend-up"></i>
          </button>
          <button
            data-id="<%= locals.dueAndResult[i].section_id %>"
            type="button"
            class="demoteStudent btn btn-danger View"
            data-bs-toggle="modal"
          >
            <i class="far fa-trash-alt" aria-hidden="true"></i>
            <i class="far fa-arrow-rotate-right" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td colspan="7" class="text-center">
          <mark>No data found.</mark>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- edit modal -->
<div
  class="modal fade"
  id="editClassSecModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Class - Section</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<!-- delete modal -->
<div
  class="modal fade"
  id="deleteClassSecModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Deleting Class - Section
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
