<div class="pt-5">
  <h4 class="text-center">View Exams & Marks</h4>
  <br />

  <table class="table table-light text-center" id="datatable">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th width="200px">Exam Name</th>
        <th width="200px">Exam Type</th>
        <th width="200px">Status</th>
        <th width="200px">Mark Sheet</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.myExamsList.length > 0) { for (var i = 0; i < locals.myExamsList.length;
      i++) { %>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td><%= locals.myExamsList[i].exam_name %></td>
        <td><%= locals.myExamsList[i].exam_type %></td>
        <td><%= locals.myExamsList[i].exam_status %></td>
        <td>
           <% if (locals.myExamsList[i].exam_status == 'completed') { %>
            <% var mapped = locals.marks.map(obj => obj.exam_id).indexOf(locals.myExamsList[i].id) %>
            <% if (mapped != '-1') { %>
              <button data-id="<%= locals.myExamsList[i].ex_master_id %>" logged-in = "<%= locals.student_id %>" class-sec = '<%= locals.myExamsList[i].exam_conducted_class_sec %>' type="button" class="view_exam_sched btn btn-info" data-bs-toggle="modal">Exam Schedule</button>
            
            <a role="button" href="./marksheet/<%= locals.student_id %>/<%= locals.myExamsList[i].ex_master_id %>/<%= locals.myExamsList[i].exam_conducted_class_sec %>" class="btn btn-primary"><i class="far fa-eye"></i> Mark Sheet</a>
            <% } else { %>
              <button data-id="<%= locals.myExamsList[i].ex_master_id %>" logged-in = "<%= locals.student_id %>" class-sec = '<%= locals.myExamsList[i].exam_conducted_class_sec %>' type="button" class="view_exam_sched btn btn-info" data-bs-toggle="modal" >Exam Schedule</button>
              <a
              class="btn btn-secondary"
              href="#" onclick="return false;"
              ><i class="far fa-eye"></i> Mark Sheet</a>
          <% } } else if (locals.myExamsList[i].exam_status != 'completed') { %>
            <button data-id="<%= locals.myExamsList[i].ex_master_id %>" logged-in = "<%= locals.student_id %>" class-sec = '<%= locals.myExamsList[i].exam_conducted_class_sec %>' type="button" class="view_exam_sched btn btn-info" data-bs-toggle="modal" >Exam Schedule</button>
            <a 
            class="btn btn-secondary"
            href="#" onclick="return false;"
            ><i class="far fa-eye"></i> Mark Sheet</a>
         <% } %>
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td colspan="5" class="text-center">
          <mark>No Exam / Result found.</mark>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- View My Exam Marks modal -->
<div
  class="modal fade"
  id="viewMyMarksModal"
  tabindex="-1"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View My Marks</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="view-myExamMarks-modal-body"></div>
    </div>
  </div>
</div>

<!-- View Exam Schedule modal -->
<div
  class="modal fade"
  id="viewExamSchedModal"
  tabindex="-1"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewExamSchedModalLabel">View Exam Schedule</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="viewExamSched-modal-body"></div>
    </div>
  </div>
</div>