<div class="pt-5">
  <h4 class="text-center">View Attendance Records</h4>
  <br />
  <table class="table table-light text-center">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th width="200px">Date</th>
        <th width="200px">Class Section</th>
        <th width="150px">Period No</th>
        <th width="150px">Leave</th>
        <th width="200px">Absent</th>
        <th width="100px">On Duty</th>
        <th width="200px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.attendances.length > 0) { for(var i = 0; i < locals.attendances.length;
      i++) {%>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td><%= locals.attendances[i].date %></td>
        <td><%= locals.attendances[i].class_sec %></td>
        <td><%= locals.attendances[i].period_no %></td>
        <td><%= locals.attendances[i].leave_intimated %> Mins</td>
        <td><%= locals.attendances[i].absent %></td>
        <td><%= locals.attendances[i].on_duty %></td>
        <td>
          <a
            class="btn btn-warning edit"
            href="../dashboard/schedule-plan/edit/<%= locals.attendances[i].id %>"
            ><i class="far fa-edit" aria-hidden="true"></i></a
          >
          <a
            class="btn btn-danger delete"
            href="../dashboard/schedule-plan/delete/<%= locals.attendances[i].id %>"
            ><i class="far fa-trash-alt" aria-hidden="true"></i></a
          >
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td colspan="7" class="text-center">
          <mark>No Schedule plan is found.</mark>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
