<div>
  <h4 class="text-center">View Fee Collection Records</h4>
  <br />
  <table class="table table-light text-center" id="datatable">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="200px">Student Email</th>
        <th scope="250px">Mobile No</th>
        <th scope="100px">Fee</th>
        <th scope="100px">Year</th>
        <th scope="100px">Paid</th>
        <th scope="100px">Due</th>
        <th width="100px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.data.length > 0) { for(var i = 0; i < locals.data.length;
      i++) { %>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td><%= locals.data[i].email %></td>
        <td><%= locals.data[i].mobile_number %></td>
        <td><%= locals.data[i].actual_fee %></td>
        <td><%= locals.data[i].academic_year %></td>
        <td><%= locals.data[i].paying_amount %></td>
        <td><%= locals.data[i].payment_status %></td>
        <td>
          <button data-id="<%= locals.data[i].id %>"
            data-st-id="<%= locals.data[i].student_id %>" type="button" class="viewDueCollData btn btn-primary View" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="far fa-eye"></i></button>
          <a
            class="btn btn-warning edit"
            href="../dashboard/fee-collection/edit/<%= locals.data[i].id %>"
            ><i class="far fa-edit"></i
          ></a>
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td colspan="7" class="text-center">No records found.</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- view Due collection Modal -->
<div
  role="dialog"
  class="modal fade bd-example-modal-xl"
  id="viewDueCollDataModal"
  tabindex="-1"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Due Payment Records</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="view-modal-body"></div>
    </div>
  </div>
</div>