<div class="pt-5">
  <h4 class="text-center">Assign Class-section, Staff & Subject</h4>
  <br />
  <table class="table table-light text-center">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th width="250px">Class-Section - Medium</th>
        <th width="100px">Subjects</th>
        <th width="150px">Staff</th>
        <th width="150px">Alternate Staff</th>
        <th width="120px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.result.length > 0) { for(var i = 0; i < locals.result.length;
      i++) {%>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td>
          <b><%= locals.result[i].class_std %></b> std-<b
            ><%= locals.result[i].medium %></b
          >
          Medium - <b><%= locals.result[i].class_section %></b> Sec
        </td>
        <td><%= locals.result[i].subject_name %></td>
        <td><%= locals.result[i].username %></td>
        <td><%= locals.result[i].username %></td>
        <td>
          <button
            data-id="<%= locals.result[i].map_id %>"
            type="button"
            class="editMapping btn btn-warning View"
            data-bs-toggle="modal"
          >
            <i class="far fa-edit"></i>
          </button>
          <button
            data-id="<%= locals.result[i].map_id %>"
            type="button"
            class="deleteMapping btn btn-danger View"
            data-bs-toggle="modal"
          >
            <i class="far fa-trash-alt" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td colspan="6" class="text-center">
          <mark>No Class / Sections / Staff assigned.</mark>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- delete modal -->
<div
  class="modal fade"
  id="deleteMappingModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Deleting Subject - Staff Bonding
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<!-- edit modal -->
<div
  class="modal fade"
  id="editMappingModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Edit Subject - Staff Bonding
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
