<div class="pt-5">
  <h4 class="text-center">Contact My Staff</h4>
  <br />
  <h6>Primary Staff</h6>
  <table class="table table-success text-center">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Subject</th>
        <th scope="col">Staff Name</th>
        <th scope="col">Staff Email</th>
        <th scope="col">Mobile No</th>
        <th width="200px">Chat</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.staffRecords.length > 0) { for(var i = 0; i < locals.staffRecords.length;
      i++) {%>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td><%= locals.staffRecords[i].subject_name %></td>
        <td><%= locals.staffRecords[i].p_name %></td>
        <td><a href="mailto:<%= locals.staffRecords[i].email %>"><%= locals.staffRecords[i].p_email %></a></td>
        <td><a href="tel:<%= locals.staffRecords[i].mobile_number %>"><%= locals.staffRecords[i].p_mob %></a></td>
        <td>
          <button data-id="<%= locals.staffRecords[i].staff_id_assigned %>" type="button" class="chatbutton btn btn-dark View" data-bs-toggle="modal">
            <i class="far fa-comment-dots"></i></button>
        </td>
        </tr>
        <% } } else { %>
        <tr>
          <td colspan="6" class="text-center">
            No Staff found.
          </td>
        </tr>
        <% } %>
        </tbody>
  </table>
  <hr>
  <h6>Secondary Staff</h6>
  <table class="table table-danger text-center">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Subject</th>
        <th scope="col">Staff Name</th>
        <th scope="col">Staff Email</th>
        <th scope="col">Mobile No</th>
        <th width="200px">Chat</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.staffRecords.length > 0) { for(var i = 0; i < locals.staffRecords.length;
      i++) {%>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td><%= locals.staffRecords[i].subject_name %></td>
        <td><%= locals.staffRecords[i].s_name %></td>
        <td><a href="mailto:<%= locals.staffRecords[i].email %>"><%= locals.staffRecords[i].s_email %></a></td>
        <td><a href="tel:<%= locals.staffRecords[i].mobile_number %>"><%= locals.staffRecords[i].s_mob %></a></td>
        <td>
          <button data-id="<%= locals.staffRecords[i].secondary_staff_assigned %>" type="button" class="chatbutton btn btn-dark View" data-bs-toggle="modal">
            <i class="far fa-comment-dots"></i></button>
        </td>
        </tr>
        <% } } else { %>
        <tr>
          <td colspan="6" class="text-center">
            No Staff found.
          </td>
        </tr>
        <% } %>
        </tbody>
  </table>

<!-- Modal -->
<div class="modal fade" id="chatbuttonModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ask your Doubt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="chat-modal-body">

      </div>
    </div>
  </div>
</div>

