<div class="pt-5">
  <h4 class="text-center">View Daily Schedules</h4>
  <br />
  <table class="table table-light text-center" id="schedule">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Class Medium & Section</th>
        <th scope="col">Day</th>
        <th scope="col">Template Name</th>
        <th width="200px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.data[2].length > 0) { for(var i = 0; i <
      locals.data[2].length; i++) {%>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td>
          <%= locals.data[2][i].class_std %> std - <%= locals.data[2][i].medium
          %> Medium - <%= locals.data[2][i].class_section %> Section
        </td>
        <td><%= locals.data[2][i].day %></td>
        <td><%= locals.data[2][i].schedule_name %></td>

        <td>
          <button
            data-id="<%= locals.data[2][i].id %>"
            dayta-id="<%= locals.data[2][i].day %>"
            sec-id = "<%= locals.data[2][i].class_sec_id %>"
            template-id="<%= locals.data[2][i].schedule_tempid %>"
            type="button"
            class="viewWeekSched btn btn-info"
            data-bs-toggle="modal"
          >
          <i class="far fa-eye"></i
          >
          </button>
          <button
            data-id="<%= locals.data[2][i].id %>"
            dayta-id="<%= locals.data[2][i].day %>"
            sec-id = "<%= locals.data[2][i].class_sec_id %>"
            template-id="<%= locals.data[2][i].schedule_tempid %>"
            type="button"
            class="editWeekSched btn btn-warning"
            data-bs-toggle="modal"
          >
          <i class="fas fa-user-edit"></i
          >
          </button>
          <button
            data-id="<%= locals.data[2][i].id %>"
            dayta-id="<%= locals.data[2][i].day %>"
            sec-id = "<%= locals.data[2][i].class_sec_id %>"
            template-id="<%= locals.data[2][i].schedule_tempid %>"
            type="button"
            class="deleteWeekSched btn btn-danger"
            data-bs-toggle="modal"
          >
          <i class="far fa-trash-alt"></i
          >
          </button>
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td colspan="5" class="text-center">No Schedules added.</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- View Week schedule Modal -->
<div
  class="modal fade"
  id="viewWeekSchedModal"
  tabindex="-1"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Viewing Week Schedule
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="view-modal-body"></div>
    </div>
  </div>
</div>

<!-- Edit Week schedule Modal -->
<div
  class="modal fade"
  id="editWeekSchedModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Editing Week Schedule
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="edit-weeksched-modal-body"></div>
    </div>
  </div>
</div>

<!-- delete Week schedule Modal -->
<div
  class="modal fade"
  id="deleteWeekSchedModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Delete Week Schedule
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="delete-modal-body"></div>
    </div>
  </div>
</div>