<div>
  <h4 class="text-center">View Class Standards</h4>
  <br />
  <table class="table table-light text-center">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Class</th>
        <th scope="col">Medium</th>
        <th scope="col">Batch Name</th>
        <th scope="col">Fees</th>
        <th width="200px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.data.length > 0) { for(var i = 0; i < locals.data.length;
      i++) { %>
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td><%= locals.data[i].class_std %></td>
        <td><%= locals.data[i].medium %></td>
        <td><%= locals.data[i].batch_name %></td>
        <td><%= locals.data[i].actual_fee %></td>
        <td>
          <button
            data-id="<%= locals.data[i].id %>"
            type="button"
            class="editFeeStruct btn btn-warning View"
            data-bs-toggle="modal"
          >
            <i class="far fa-edit aria-hidden="true"></i>
          </button>
          <button
            data-id="<%= locals.data[i].id %>"
            type="button"
            class="deleteFeeStruct btn btn-danger View"
            data-bs-toggle="modal"
          >
            <i class="far fa-trash-alt" aria-hidden="true"></i>
          </button>
        </td>
      </tr>

      <% } } else { %>
      <tr>
        <td colspan="5" class="text-center">No records found.</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<!-- edit modal -->
<div
  class="modal fade"
  id="editFeeStructModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Class - Medium</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<!-- delete modal -->
<div
  class="modal fade"
  id="deleteFeeStructModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Deleting Class - Medium
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
