 
 
  
  <div class="col-xl-12 col-lg-12 col-md-8 col-sm-10 p-5 m-3 justify-content-center">
    <h2 class="text-center">Student Dashboard</h2>
    <% if(locals.welcome_msg) { %>
        <div class="col-6 m-4 p-2">
          <h5><%= welcome_msg %></h5>
        </div>
    <% } %>
    <br>
    <% if(locals.err_msg.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= err_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
   <% } %>

    <% if(locals.success_msg.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>

    <!-- When Inactive -->
    <% if(locals.status == "Inactive") { %>
      <!-- Inactive Part -->
      <%- include ('../partials/components/school-inactive') %>
      <% } else { %>  
        <!-- active part -->
        <%- include ('../partials/components/school-sideMenu') %>
        <!-- This whole div will be removed from Dashboard -->
        <!-- Display Reports Here -->
      <div class="col-xl-10">
        <p>Text content</p>
      </div>
      <% } %>
      <!-- test -->
    </div>


    <!-- closing tags from school-sidebarMenu -->
    </div>
  </div>
</div>