            <form id="addclass-form" action="../dashboard/exams" method="POST">
              <div class="mt-3 mb-3">
                <h2 class="text-center">Add Exams</h2>
                <p class="text-center">
                  <small>Scheduling Exams to the school.</small>
                </p>
                <hr />
              </div>

              <div class="mb-3">
                <% if (locals.masterOptions.length > 0) { %>
                <label for="exam_master mb-1">Choose Exam Master:</label>
                <select id="exam_master" class="form-control" name="exam_master" required>
                  <option value="0">Select One</option>
                  <% for (let m = 0; m < locals.masterOptions.length; m++) { %>
                    <option value="<%= locals.masterOptions[m].id %>"><%= locals.masterOptions[m].exam_name %></option>
                  <% } %>
                </select>
                <span class="error" id="class_error"
                  >Please choose Exam Master.</span
                >
                <% } else { %>
                  <a href="/staff/dashboard/exam-master" role="button" class="btn btn-primary">Add Exam Master</a>
                <% } %>
              </div>
              <div id="exam_master_data">
                <!-- append Exam Master data here -->
              </div>
              <div class="mb-3">
                <label for="exam_conducted_for">Exam Scheduling for:</label>
                <select id="exam_conducted_for" class="js-example-basic-multiple js-example-responsive form-control" name="exam_conducted_for[]" multiple="multiple" >
                  <option value="" disabled>Choose at least one</option>
                  <% if(locals.classStd.length > 0) {
                    for (let i=0; i < locals.classStd.length; i++) { %>
                      <option value="<%= locals.classStd[i].id %>"><%= locals.classStd[i].class_std %> std - <%= locals.classStd[i].medium %> Medium (<%= locals.classStd[i].batch_name %>)</option>
                    <% } } %>
                </select>
                <span class="error" id="class_error"
                  >Please schedule exam to atleast a class std.</span
                >
              </div>
              <div class="exam_plan" id="exam_plan">
              </div>
              <div class="mb-3">
                <button id="create_exam_button" class="btn btn-secondary" type="submit" value="submit">
                  Create Exam
                </button>
              </div>
            </form>