<form id="addweeksched-form" action="../dashboard/week-schedule" method="POST">
  <div class="mt-3 mb-3">
    <h2 class="text-center">Add Week Schedule</h2>
    <p class="text-center">
      <small>Assigning Class Periods to the Class Section for Weekdays</small>
    </p>
    <hr />
  </div>
  <div class="mb-3">
    <label for="class">Class & Medium:</label>
    <select id="class_sec" class="class_sec form-control" name="class" required>
      <option value="">Select Class & Section Here</option>
      <% if(locals.data[0]) { for (let i=0; i < locals.data[0].length; i++) { %>
      <option value="<%= locals.data[0][i].clr_id %>">
        <%= locals.data[0][i].class_std %> std - <%= locals.data[0][i].medium %>
        Medium - <%= locals.data[0][i].class_section %> Section
      </option>
      <% } } %>
    </select>
    <span class="error" id="class_error">Class should not be empty.</span>
  </div>
  <div class="mb-3">
    <label for="day">Choose a Day </label>
    <select id="day" class="day form-control" name="day" required >
      <option value="">Select a Day</option>
      <option value="Mondays">All Mondays</option>
      <option value="Tuesdays">All Tuesdays</option>
      <option value="Wednesdays">All Wednesdays</option>
      <option value="Thursdays">All Thursdays</option>
      <option value="Fridays">All Fridays</option>
      <option value="Odd_Saturdays" class="text-danger">
        on Odd Saturdays
      </option>
      <option value="Odd_Sundays" class="text-danger">on Odd Sundays</option>
      <option value="Even_Saturdays" class="text-danger">
        on Even Saturdays
      </option>
      <option value="Even_Sundays" class="text-danger">on Even Sundays</option>
    </select>
    <span class="error" id="day_error">Please Select a Day.</span>
  </div>
  <div class="mb-3">
    <label for="schedule_name">Choose Schedule Template: </label>
    <select
      id="schedule_name"
      class="form-control"
      name="schedule_name"
      required
    >
      <option value="">Select One</option>
      <% if(locals.data[1]) { for (let i=0; i < locals.data[1].length; i++) { %>
      <option value="<%= locals.data[1][i].id %>">
        <%= locals.data[1][i].schedule_name %>
      </option>
      <% } } %>
    </select>
    <span class="error" id="subject_error"
      >Please Select a Schedule Template.</span
    >
  </div>
  <div class="mb-3" id="schedule_list"></div>
  <input id="period_nos" type="hidden" />
  <%= locals.periods %>
  <div class="mb-3">
    <button id='add_week_schedule' class="btn btn-secondary" type="submit" value="submit">
      Add Day Schedule
    </button>
  </div>
</form>
