<form
  id="collect-fee-form"
  action="/staff/dashboard/student-attendance"
  method="POST"
>
  <div class="mb-3">
    <h2 class="text-center">Attendance Progress</h2>
    <hr />
  </div>
  <div class="mb-3">
    <label for="date">Date: </label>
    <input type="text" class="form-control" name="attendance_date" id="attendance_date" value="<%= moment().format('DD-MM-YYYY') %>" disabled>
    <input type="hidden" class="form-control" name="attendance_date_hide" id="attendance_date_hide" value="<%= moment().format('YYYY-MM-DD') %>">
  </div>
  <div class="mb-3">
    <label for="period_no">Preiod No: </label>
    <select name="period_no" id="period_no" class="form-control">
      <option value="<%= locals.attendances[0][0].period_no %>" selected><%= locals.attendances[0][0].period_no %></option>
    </select>
  </div>
  <div class="mb-3">
    <label for="class_sec_id">Class Section: </label>
    <input type="text" class="form-control" name="class_sec_id" id="class_sec_id" value="<%= locals.attendances[0][0].class_std %> std - <%= locals.attendances[0][0].medium %> medium - <%= locals.attendances[0][0].class_section %> sec" disabled>
    <input type="hidden" class="form-control" name="class_sec_id_hide" id="class_sec_id_hide" value="<%= locals.attendances[0][0].class_sec_id %>">
  </div>
  <% if (locals.attendances[2].length > 0) { %>
    <div class="mb-3">
      <label for="absent_stu">Absent Students: </label>
      <select  class="form-control js-example-basic-multiple" id="absent_stu"  name="absent_stu[]" multiple="multiple">
        <option value="">Select students</option>
         <% for (let i=0; i < locals.attendances[2].length; i++) { %>
            <option value="<%= locals.attendances[2][i].student_id %>"><%= locals.attendances[2][i].student_id %> - <%= locals.attendances[2][i].name %></option>
          <% }  %>
      </select>
    </div>
    <div class="mb-3">
      <label for="leave_informed_stu">Leave Intimated: </label>
      <select class="form-control js-example-basic-multiple" id="leave_informed_stu" name="leave_informed_stu[]" multiple="multiple" >
        <option value="">Select students</option>
         <% for (let i=0; i < locals.attendances[2].length; i++) { %>
            <option value="<%= locals.attendances[2][i].student_id %>"><%= locals.attendances[2][i].student_id %> - <%= locals.attendances[2][i].name %></option>
          <% }  %>
      </select>
    </div>
    <div class="mb-3">
      <label for="on_duty_stu">On-Duty students: </label>
      <select multiple="multiple" class="form-control js-example-basic-multiple" id="on_duty_stu" name="on_duty_stu[]">
        <option value="">Select students</option>
         <% for (let i=0; i < locals.attendances[2].length; i++) { %>
            <option value="<%= locals.attendances[2][i].student_id %>"><%= locals.attendances[2][i].student_id %> - <%= locals.attendances[2][i].name %></option>
          <% }  %>
      </select>
    </div>
    <div class="mt-3 mb-3">
      <button class="btn btn-secondary" type="submit" value="submit">
        Add Attendance Record
      </button>
    </div>
  <% } else { %>
    <p>No students enrolled to this section.</p>
  <% } %>
</form>
