<form
  id="collect-fee-form"
  action="../dashboard/fee-collection"
  method="POST"
>
  <div class="mb-3">
    <h2 class="text-center">Student Fee Record</h2>
    <hr />
  </div>
<!-- card to search for student data and display -->
  <div class="card p-1 bg-info">
    <div class="mt-1 mb-3">
      <label for="student_id" class="p-2">Student ID: </label>
      <input
        type="number"
        class="form-control"
        name="stuId"
        id="stuId"
        placeholder="Enter Student ID."
      />
      <span class="error" id="dob_error">Please enter Student ID</span>
    </div>
  </div>

  <div class="mt-3 mb-3">
    <label for="academic_year">Academic Year: </label>
    <input
      type="text"
      class="form-control"
      name="academic_year"
      id="academic_year"
      value="<%= new Date().getFullYear(); %>"
    />
    <span class="error" id="academic_year"
      >Please enter the academic year.</span
    >
  </div>
  
  <div class="mt-3 mb-3">
    <select
      id="class_medium"
      class="form-control"
      name="class_medium"
      required
      aria-placeholder="Class & Medium:"
    >
      <option value="">Class Std & Medium:</option>
      <% if(locals.feeData) { for (let i=0; i < locals.feeData.length; i++) { %>
      <option value="<%= locals.feeData[i].id %>">
        <%= locals.feeData[i].class_std %> std - <%= locals.feeData[i].medium %>
        Medium
      </option>
      <% } } %>
    </select>
    <span class="error" id="class_medium_error"
      >Please choose Class & medium.</span
    >
  </div>
  <div class="mb-3">
    <select
      id="class_section"
      class="form-control"
      name="class_section"
      required
      placeholder="Choose A Section:"
    ></select>
    <span class="error" id="class_medium_error"
      >Please choose Class & medium.</span
    >
  </div>

  <div class="mt-3 mb-3">
    <label for="fee_paid_date">Payment Date: </label>
    <input
      type="text"
      class="form-control"
      disabled
      name="fee_paid_date"
      id="fee_paid_date"
      value="<%= new Date().getDate(); %>-<%= new Date().getMonth()+1; %>-<%= new Date().getFullYear(); %>"
    />
    <span class="error" id="fee_paid_date"
      >Please enter the date when the fee received to the School Bank
      Account.</span
    >
  </div>
    <div class="mb-3">
      <select
        id="payment_mode"
        class="form-control"
        name="payment_mode"
        aria-placeholder="Payment Mode:"
      >
        <option value="">Select Payment Mode</option>
        <option value="cash">Cash</option>
        <option value="card">Debit / Credit Card</option>
        <option value="cheque">Cheque</option>
        <option value="netbanking">Netbanking</option>
        <option value="emi">EMI</option>
      </select>
      <span class="error" id="payment_mode_error"
        >Please select the Payment Mode.</span
      >
    </div>
  <div class="mt-3 mb-3">
    <button class="btn btn-secondary" type="submit" value="submit">
      Add Fee Record
    </button>
  </div>
</form>